
#tbl-student .column-header{
    -fx-background-color: #757575;
    -fx-size: 60px;
    -fx-font-family: "Ubuntu";
    -fx-font-size: 14px;

}

#tbl-student .table-row-cell:filled:hover{
    -fx-background-color: silver;
    -fx-background-insets: 0px 1px 0px 1px;
    -fx-background-radius: 4px;
}

#tbl-student .table-row-cell:filled:selected{
    -fx-background-color: rgba(201, 201, 201, 0.71);
    -fx-background-insets: 0px 1px 0px 1px;
    -fx-background-radius: 4px;

}

#tbl-student .table-row-cell:filled:selected *{
    -fx-text-fill: black;

}



#tbl-student .table-row-cell:empty{
    -fx-background-color: white;
}

#tbl-student{
    -fx-border-color: rgba(0,0,0,0.2);
    -fx-background-insets: 0px, 0px;
    -fx-padding: 0;
}

#tbl-student .cell{
    -fx-cell-size: 50px;
    -fx-wrap-text: true;
    -fx-alignment: center;
}

#tbl-student .table-cell:empty{
    -fx-border-color: transparent;
}

.delete-button{
    -fx-background-color: #ED1C1C;
    -fx-text-fill: white;
}

.delete-button:hover{
    -fx-background-color: red;
    -fx-cursor: hand;
}